header {
    display: flex;
    justify-content: center;

}
body {
    margin: 0;
}
nav {
    display: flex;
    justify-content: center;
    padding: 25px;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

h2 {
    display: flex;
    justify-content: center;
    
}

.sub-main-instruction {
    display: flex;
    justify-content: center;
    
    
}

.footer-box{
    display: flex;
    justify-content: center;
    padding: 55px;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.submit-button {
    display: flex;
    justify-content: flex-end;
}


.logo {
    display: flex;
    align-self: center;
    padding: 20px;

}

.form-section {
    display: flex;
    justify-content: center;
}
.images {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.sub-main-instruction {
    padding: 20px;
}